.apply_block {
    width: calc((100% + 20px)/5 - 20px);
    height: 100px;
    border-radius: 5px;
    background: #000;
    float: left;
    margin: 27px 15px 0 0;
    color: #fff;
    overflow: hidden;
}

.apply_block:nth-of-type(4n) {
    margin-right: 0;
}
.apply_block.apply_block_info {
    background: #03a9f4;
}
.apply_block.apply_block_column {
    background: #8bc34a;
}
.apply_block.apply_block_admin {
    background: #e84e40;
}
.apply_block.apply_block_visit {
    background: #9c27b0;
}
.apply_block .fr {
    text-align: right;
    padding-right: 20px; }
.apply_block .fr p {
    padding-top: 20px; }
.apply_block .fr strong {
    padding-top: 23px;
    display: block;
    font-size: 13px; }
.apply_block i {
    font-size: 62px;
    padding: 19px 30px;
    float: left; }

.apply_box {
    border: 1px solid #ddd;
    margin-top: 27px; }
.apply_box .apply_box_tit {
    height: 38px;
    line-height: 37px;
    border-bottom: 1px solid #ddd;
    text-indent: 15px; }
.apply_box .apply_box_content {
    min-height: 260px; }
